name: auto

services:
  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: MainBD
    ports:
      - "5433:5432"  # ⬅️ ИЗМЕНИТЕ 5432 на 5433
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d MainBD"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://postgres:123@postgres:5432/MainBD"  # ⬅️ ВНУТРИ контейнера порт остается 5432
    volumes:
      - ./backend:/app
    working_dir: /app
    command: >
      sh -c "python init_database.py && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge